*{
margin:0;
padding:0;
box-sizing:boder-box;
}
html,body{
height:100%;
width:100%;
background-color:  #9fd3c7;
font-family: gilroy;
}

.register-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 95vh;
}

.register-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 15px;
  text-align: right; /* Align inputs at the right end */
}

.form-group {
  display: flex;
  margin-bottom: 10px;
  text-align: left;
  justify-content: space-between;
}

#loginform{
  height: 22vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 18vw;
  box-shadow: 10px 10px 15px rgb(85, 120, 124);
}

label {
  font-weight: bold;
  text-align: left;
}

input {
  width: 10vw;
  padding-left:10px;
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
}

button {
  height: 5vh;
  background-color:  #142d4c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.8s;
}

button:hover {
  background-color: #5c8d89;
}
#reglink{
  margin-top: 1.5vh;
}
